
.navbar {
    background-color: #8b0b0b;
}
.index-head {
    background-color: #ff3131;
    border-left: 12px solid #8b0b0b;
    border-right: 12px solid #8b0b0b;
}
.p1 {
    font-family: "sans-serif";
    font-size: large;
}
.h2-title {
    text-align: center;
    font-family: "Catamaran";
    padding-bottom: 10px;
    border-top: 2px solid #8b0b0b;
}
.container-title {
    font-family: "Catamaran";
    border: 2px solid #8b0b0b;
    background-color: #8b0b0b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 100px;
    width: 800px;
}
.container-login-forms {
    border: 2px solid #8b0b0b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    width: 700px;
    display: grid;
    place-items: center;
}
.container-forms {
    border: 2px solid #8b0b0b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    width: 800px;
}
.forms-message {
    padding: 5px;
}
.forms-title {
    border-radius: 10px;
    color: white;
    text-align: center;
    padding-top: 5px;
}
.forms-label {
    border-radius: 0%;
    background-color: rgb(233, 233, 233);
}
.forms-label-login{
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
}
.checkin-button {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    color: white;
    background-color: #be3535;
}
.rodape {
    background-color: #8b0b0b;
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.btn:hover{
    background-color: #ff751f;
}


.dropdown-item:hover {
    background-color: #ff751f;
    font-size: large;
    transition: all 0.5s ease;
}

.img-thumbnail:hover{
    width: 120%;
    height: auto;
    transition: all 0.5s ease;
}

.img-wrapper {
  
  border-radius: 50%;
  overflow: hidden
}
